@Styles.Render("~/Content/Site.css")

<main>
    <div class="main-container">
        <div class="item">
            <a href="~/Teacher/list">Teachers</a>
        </div>

        <div class="item">
            <a href="~/Student/list">Student</a>
        </div>
        <div class="item">
            <a href="~/Class/list">Class</a>
        </div>
    </div>
</main>