@model Cumulative_HTTP5112.Models.Students
@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Student/List">Back To Student</a>
<div id="containershow">
    <h2>Name: @Model.StudentFname @Model.StudentLname  </h2>
    <p>Student Id: @Model.StudentNumber</p>
    <p>Enrolment Year: @Model.EnrolDate</p>
    
</div>

